{{#showDelButtons}}
<button type="button"
        class="btn btn-danger btn-sm btn-local-organization-delete-advisor"
        title="{{#str}}delete, local_organization{{/str}}"
        data-id="{{id}}"
        data-name="{{name}}"
        data-context="{{user_context}}"
        data-role_id="{{role_id}}">
            <i class="fa fa-trash"></i>
</button>
{{/showDelButtons}}