<a href="{{edit_url}}"
   class="btn btn-primary btn-sm"
   title="{{#str}}edit, local_organization{{/str}}"><i class="fa fa-pencil"></i></a>
<button type="button"
        class="btn btn-danger btn-sm btn-local-organization-delete-department"
        title="{{#str}}delete, local_organization{{/str}}"
        data-id="{{id}}"
        data-name="{{name}}"><i class="fa fa-trash"></i></button>
<a href="{{config.wwwroot}}/local/organization/advisors.php?campus_id={{campus_id}}&instance_id={{id}}&user_context={{user_context}}&unit_id={{unit_id}}"
class="btn btn-primary btn-sm"
title="{{#str}}advisors, local_organization{{/str}}">
<i class="fa fa-user"></i>
<span class="badge badge-light">{{advisor_count}}</span>
</a>
